<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="editrepo.css">
</head>
<body>
    <form action="/editrepo" method="POST">
        <div id="dropinput">
            <input type="text" id="service" name="service" placeholder="Enter the service"><br>
            <div id="dropcontent">
                <% detail.services.forEach(function(item){%>
                    <p class="options"><%=item.s%></p>
                    <%}); %>
            </div>
        </div>
        <input type="password" id="password" name="password" placeholder="Enter password"><br>
        <button id="submitting" type="submit">Submit</button>
        
    </form>


    <script>
        var doc = document.getElementsByClassName("options");
        for(let i = 0; i<doc.length; i++){
            doc[i].addEventListener("click",function(){
                document.getElementById("service").value = doc[i].innerHTML;
            });
        }

    </script>
    
</body>
</html>