<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgotpwd.css">
    <title>forgot password</title>
</head>
<body>
    <div id="enclosure">
        <form action="/forgotpwd" method="POST">
            <input type="password" name="password" id="password" placeholder="New password"><br>
            <input type="email" name="emailid" id="emailid" placeholder="Email id"><br>
            <input type="submit" id="submitbutton">
        </form>
    </div>
</body>
</html>