<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="loginpage.css">
</head>
<body>
    <div id="enclosure">
        <p>Password Repository</p>
        <form action="/login" method="POST">
            <input type="text" name="name" id="name" placeholder="Username"><br>
            <input type="password" name="password" id="password" placeholder="Password"><br>
    
            <button type="submit" id="login">Login</button><br>
        </form>
        <div id="innerenclosure">
            <a href="http://localhost:1270/forgotpwd">Forgot password</a><br>
            <a href="http://localhost:1270/registration">Register</a>
        
        </div>
    </div>
</body>
</html>