<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="passdisplay.css">
</head>
<body>
    <div id="overall">
    <p id="service">Service: <%=detail.service%></p>
    <p id="password">Password: <%=detail.pass%></p>
    <p id="date">Date modified: <%=detail.date%></p>
    <form action="/passdisplay" method="POST">
    <button id="home" type="submit">Home</button>
</form>
</div>
    
</body>
</html>